@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Permanent+Marker&display=swap');

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
}
body {
    margin: 0;
    background:linear-gradient(to bottom, rgb(107, 98, 193), rgb(74, 73, 96));
}
ul{
    list-style-type: none;
}

nav {
    margin: 10px;
    text-align: center;
    background-color: rgb(78, 78, 162);
    color: black;
    padding: 10px;
    border-radius: 20px;
}
nav img {
    max-width: 40px;
    max-height: fit-content;
    float: left;
    position: relative;
    margin-top: -10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: yellow;
}
header {
    margin-top: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 10px solid rgba(0, 0, 0, 0.75);
    border-bottom: 10px solid rgba(0, 0, 0, 0.75);

}
h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
    color: rgb(168, 168, 168);
}
section{
    align-items: center;
    text-align: center;
}
h2{
    text-align: center;
}
button{
    background-color: rgba(16, 16, 87, 0.5);
    border-radius: 20px;
    border-style: groove;

}
button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img{
    max-width: 1000px;
}

#tickets{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Schedule section */
#schedule{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(46, 45, 80, 0.258);

    
}

hr{
    border-color: black;
    margin: 0px;
}
/* Footer information --socials--directions--contact info-- */
footer{
    display: flex;
    background-color: rgba(0,0,0,0.25);
}
/* Social box */
#socials{
    border-right: 1px solid black;
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
}
#socials ul{
    padding: 0;
}
#socials ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}

#socials img{
    margin-bottom: -5px;
}

#directions{
    width: 70%;
}
.driveIn{
    border-right: 1px dotted black;
    float: left;
    width: 50%;
    padding-right: 10px;
}
.flyIn{
    border-right: 1px solid black;
    float: left;
    width:50%;
}
.flyIn ul{
    font-size: 0.8em;
    padding-left: 10px;
}

#contactInfo{
    width: auto;
}
#contactInfo ul{
    padding: 0;  
}
/* tickets.html */
#admissions{
    display: flex;
}

#regularAdmission{
    float: left;
    width: 50%;
}

#scoutAdmission{
    float: left;
    width: 50%;
}
#groupRates{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
#balloon{
    overflow: hidden;
    margin: 10px;
}
#bal{
    margin-left: 10px; 
}

/* rides */
#plane{
    margin-top: 10px;
}

.description{
    background-color: rgba(0, 0, 0, 0.15);
    margin: 10px 25% 10px 25%;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #717171;
}
.fineprint{
    font-size: 0.8em;
}

/* schedule */
table{
    margin-left: 15%;
    margin-bottom: 10px;

}