@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Permanent+Marker&display=swap');

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    background-color: rgb(123, 123, 212);
}
nav {
    margin: 10px;
    text-align: center;
    background-color: rgb(78, 78, 162);
    color: black;
    padding: 10px;
    border-radius: 20px;
}
nav img {
    max-width: 40px;
    max-height: fit-content;
    float: left;
    position: relative;
    margin-top: -10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: yellow;
}
header {
    margin-top: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 10px solid rgba(0, 0, 0, 0.75);
    border-bottom: 10px solid rgba(0, 0, 0, 0.75);

}
h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
    color: rgb(168, 168, 168);
}